.panel:not(.active) {
  position: absolute!important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.tabs {
  display: flex;
}

.tab {
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-foreground);
  flex: 1;
  padding: 10px;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--vscode-button-foreground);
  }

  &.active {
    text-decoration: underline;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);

    &:hover,
    &:focus-visible {
      background-color: var(--vscode-button-hoverBackground);
    }
  }
}
